extends layout

block header
    header 
      CENTER
       h2 The Gossip World!!!


block content
    CENTER
      br
      h2 Login Page
    CENTER
      h1 Get your daily juice from Gossip world.
      br
      form(role='form', action="/login",method="post", style='max-width: 300px;padding: 19px 29px 29px;')
        .form-group
            input.form-control(type='text', name="username", placeholder='Enter Username')
        .form-group
          input.form-control(type='password', name="password", placeholder='Password')
        button.btn.btn-default(type='submit') Submit
        &nbsp;
        a(href='/')
          button.btn.btn-primary(type="button") Cancel